.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.header {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
}

.new-task {
  text-align: center;
  margin: 15px;

  input {
    width: 300px;
  }
}

.container {
  width: 600px;
  margin: 10px auto;
  background-color: beige;
  border-radius: 5px;
}

table {
  width: 100%;
}

th, td {
  padding: 10px;
}

.number {
  width: 50px;
  text-align: center;
}

.done {
  color: grey;
  font-style: italic;
  text-decoration: line-through;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
