.App {
  text-align: center; }

.header {
  text-align: center;
  font-size: 36px;
  font-weight: 500; }

.new-task {
  text-align: center;
  margin: 15px; }
  .new-task input {
    width: 300px; }

.buttons-row {
  display: flex;
  justify-content: center;
  margin: 10px; }
  .buttons-row button {
    margin: 10px;
    padding: 5px 10px; }

.container {
  width: 600px;
  margin: 10px auto;
  background-color: beige;
  border-radius: 5px; }

table {
  width: 100%; }

th, td {
  padding: 10px; }

.number {
  width: 50px;
  text-align: center; }

.done {
  color: grey;
  font-style: italic;
  text-decoration: line-through; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
