.App {
  text-align: center;
}

.header {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
}

.new-task {
  text-align: center;
  margin: 15px;

  input {
    width: 300px;
  }
}

.buttons-row {
  display: flex;
  justify-content: center;
  margin: 10px;
  align-items: center;

  button {
    margin: 10px;
    padding: 2px 10px;
  }
}

.container {
  width: 600px;
  margin: 10px auto;
  background-color: beige;
  border-radius: 5px;
  box-shadow: 1px 1px 5px -2px black
}

table {
  width: 100%;
}

th, td {
  padding: 10px;
}

.table-bordered.table2 {
  margin-top: -1px;

  p {
    margin: 0;
  }
}

.number {
  width: 50px;
  text-align: center;
}

.done {
  color: grey;
  font-style: italic;
  text-decoration: line-through;
}

.tasks-counter {
  display: flex;
  justify-content: space-around;
}

.icon {
  height: 15px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
